<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">laptop</i> E-Commerces</h4>
                </div>
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">camera_roll</i> Cinématographie</h4>
                </div>
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">school</i> Emploi & Candidature</h4>
                </div>
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">local_florist</i> Agro-alimentaire</h4>
                </div>
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">build</i> Industrie Technique</h4>
                </div>
                <div class="col-md-4 col-sm-6">

                    <h4><i class="material-icons text-muted" style="vertical-align: -5px;">shopping_cart</i> FMCG & Retail</h4>
                </div>
            </div>
        </div>
        
    </aside>

    