<!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos Services</h2>
                    <h3 class="section-subheading text-muted">
                      Avec Tradfacile, vous êtes sûr d’obtenir une traduction de qualité. <br />
                      Nous fournissons des prestations de qualité et assurons une prise en charge du début à la fin pour les particuliers
                      et professionnels.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Traduction de documents</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nos équipes ont bien conscience qu’une lettre de motivation ne se rédige pas de la même manière
                                    qu’un rapport de stage. C’est donc une traduction mise en contexte, avec un style approprié et un
                                    langage adapté qui vous sera proposé. Par ailleurs, si certains passages de la traduction ne vous
                                    satisfont pas, des modifications sont toujours possibles. C’est pour cela que nous demandons à nos
                                    traducteurs d’envoyer des versions revisitées sous 24h.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enregistrement vocaux</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Même si vous disposez d’une traduction adéquate, il est parfois difficile de s’approprier une
                                    élocution et une prononciation correcte. Si vous le désirez, nos équipes sont en mesure de vous
                                    fournir un enregistrement oral de votre traduction. Ainsi, vous enlevez tous vos doutes concernant
                                    la prononciation d’un mot ou même le rythme à donner dans la phrase.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Traduction de fichiers vocaux</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Si vous disposez d’enregistrements audio, nos équipes sont en mesure de vous les traduire soit sur
                                    papier, ou directement par retranscription vocale. Nos équipes sont également en mesure, si vous le
                                    souhaitez, d’effectuer un résumé détaillé dans la langue demandée d’un ou plusieurs
                                    enregistrements vocaux.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mise en ligne</h4>
                                    <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Si vous le souhaitez, notre webmaster peut adapter votre site web pour prendre en charge la
                                    gestions des différentes langues traduites. Celles-ci seront ajoutées au site web en respectant la
                                    charte graphique de celui-ci notamment dans le cas d’un site responsive.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Et plein d'autres choses...</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
