<!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos Services</h2>
                    <h3 class="section-subheading text-muted">
                      Avec Tradfacile, vous êtes sûr d’obtenir une traduction de qualité. <br />
                      Nous fournissons des prestations de qualité et assurons une prise en charge du début à la fin pour les particuliers
                      et professionnels.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/services/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Traduction de documents</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Parce que chaque demande est unique, Tradfacile s’engage à vous remettre traduction mise en contexte, avec un style approprié et un langage adapté.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/services/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enregistrement vocaux</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nos équipes fournissent des enregistrements vocaux. Si vous avez des doutes sur la prononciation de certains mots, ou le rythme à donner à une phrase</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/services/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Traduction de fichiers vocaux</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nos équipes sont en mesure de vous traduire soit sur papier, ou directement par retranscription vos document vocaux avec un résumé détaillé.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/services/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mise en ligne</h4>
                                    <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Notre webmaster peut adapter votre site web pour prendre en charge la gestion des différentes langues traduites en respectant la charte graphique de celui-ci.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Et bien plus encore ...</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
